/* .parent {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */



.intro {
  background-color: black;
  color: rgb(217, 50, 50);
  opacity: 60%;
  width: max-content;
  height:max-content;
  text-align: center;
  font-family: fantasy;
}

.A {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}

.B {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    margin-top: 100px;
}


.house {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: black;
    color: brown;
    font-family:fantasy;
}

.button:hover {
    background-color: brown;
    color: black;
    font-family: fantasy;

}
/* .parent {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(4,1fr);
} */

.quote-container {
    background-color:rgb(161, 26, 26);
    width: fit-content;
    height: min-content;
    opacity: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(12, 10, 10);
    font-family: fantasy;
    align-self: flex-end;
}

.img-container {
    display: grid;
}

