header .dropdown {
  display: flex;
  justify-content: center;
}
.intro {
  background-color: black;
  color: rgb(217, 50, 50);
  opacity: 60%;
  width: max-content;
  height: max-content;
  text-align: center;
  font-family: fantasy;
}
/* submit form buttons for House Members & .gif position. */
.A {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}

.B {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  margin-top: 100px;
}

.house {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: black;
  color: brown;
  font-family: fantasy;
}

.button:hover {
  background-color: brown;
  color: black;
  font-family: fantasy;
}

.quote-container {
  background-color: rgb(161, 26, 26);
  width: fit-content;
  height: min-content;
  opacity: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(12, 10, 10);
  font-family: fantasy;
  align-self: flex-end;
}

.image-div span {
  font-family: fantasy;
  background-color: #aa740f;
  color: #000000;
  font-size: medium;
  text-align: center;
  display: flex;
  justify-content: center;
}

.img-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
}

.img-container img {
  margin: 15px;
  border: 3px solid black;
  border-radius: 5px;
}
/* drop down CSS Menu */

.dropdown {
  height: 40px;
}

.dropBtn {
  background-color: #020000;
  color: rgb(96, 9, 9);
  font-family: fantasy;
  font-size: larger;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0c0202;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: rgb(231, 227, 227);
  margin-top: 0;
}

.dropdown-content a {
  margin-top: 0;
  color: rgb(116, 8, 8);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: fantasy;
}


.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropBtn {
  background-color: #7c0404;
  color: #020000;
}

/* media Query removes introduction & quote generator from landing page when size is too small */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  #intro {
    display: none;
  }
  main {
    width: 677.6875px;
    justify-content: center;
    align-items: center;
  }
  .quote-container {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  header {
    grid-template-columns: 1fr;
  }
  #intro {
    display: none;
  }
  main {
    justify-content: center;
    align-items: center;
    width: 324px;
    grid-template-columns: 1fr;
  }
  .quote-container {
    display: none;
  }
}
