body {
  background: url("BaratheonBackground.jpeg") center fixed;
  background-size: cover;
}
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". DropDownContainer ."
    "Table-Of-Contents ContentsContainer ContentsContainer"
    "Table-Of-Contents ContentsContainer ContentsContainer"
    ". ContentsContainer ContentsContainer";
}

.DropDownContainer { grid-area: DropDownContainer; }

.Table-Of-Contents { grid-area: Table-Of-Contents; }

.ContentsContainer { grid-area: ContentsContainer; }


.container .DropDownContainer .dropdown {
  display: flex;
  justify-content: center;
}


.dropdown {
    height: 40px;
  }


.dropBtn {
    background-color: #020000;
    color: rgb(96, 9, 9);
    font-family: fantasy;
    font-size: larger;
  }
  
  
  .dropdown-content {
    display: none;
    position:absolute;
    background-color: #0c0202;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: rgb(231, 227, 227);
    margin-top: 0;
  }
  
  
  .dropdown-content a {
    margin-top: 0;
    color: rgb(116, 8, 8);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: fantasy;
  }
  
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  
  .dropdown:hover .dropdown-content {display: block;}
  
 
  .dropdown:hover .dropBtn {background-color: #7c0404;
color: #020000;}

